<div class="row">
  <div class="col-md-3">
    <h1>Places</h1>
   <div class="mt-4">
      <a href="/places/new" class="btn btn-dark btn-lg">New place</a>
    </div>

    <p>
      <% for place in @places %>
        <div><a href="/places/<%= place["id"] %>" class="fs-4"><%= place["name"] %></a></div>
      <% end %>
    </p>

    <p>

  </div>
</div>